/* slider.css */
.swiper-pagination-bullet {
    background-color: #000; /* chấm mặc định màu đen */
    opacity: 0.5; /* độ mờ */
  }
  
  .swiper-pagination-bullet-active {
    background-color: #000; /* chấm active cũng màu đen */
    opacity: 1; /* chấm active nổi bật */
  }
  