@import "tailwindcss";

@font-face {
  font-family: "SF";
  src: url("/fonts/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 700;
  
  font-style: normal;
}


.btn-title {
  background-color: #0071E3;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.body-container {
  @apply px-0 space-y-4 sm:pl-30 w-full;
}


.btn-title:hover {
  opacity: 0.7;
}


@theme {
  --font-sf: "SF", sans-serif;
}

body {
  background-color: #F5F5F7;
}
